code_ESP32_IEM2050_Node-Red/Flow Node-Red.txt
[
    {
        "id": "e9b1c65e929bb18d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "topic": "esp32/volt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65fd9f784ab9da99",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "22efa7b7.544a28",
                "2ceccaf41fc5c4fb",
                "4f14abcb1e02b4ba"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ceccaf41fc5c4fb",
        "type": "ui_gauge",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "902e0d6c8ef562f0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "Volt",
        "format": "{{value}}",
        "min": 0,
        "max": "230",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "4f14abcb1e02b4ba",
        "type": "ui_chart",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "902e0d6c8ef562f0",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "73e9bf06c2e4feee",
        "type": "mqtt in",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "topic": "esp32/arus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65fd9f784ab9da99",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "fdfa7246ccb676b9",
                "adf911823c38353c",
                "c8fab57170111c01"
            ]
        ]
    },
    {
        "id": "fdfa7246ccb676b9",
        "type": "debug",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "adf911823c38353c",
        "type": "ui_gauge",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "68f743e8825abf38",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "Arus",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "c8fab57170111c01",
        "type": "ui_chart",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "68f743e8825abf38",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4a01eb54aedbeb59",
        "type": "mqtt in",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "topic": "esp32/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65fd9f784ab9da99",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "a092ca8e85441733",
                "76899e751fb841f5",
                "9eef75c37d568e3c"
            ]
        ]
    },
    {
        "id": "a092ca8e85441733",
        "type": "debug",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "76899e751fb841f5",
        "type": "ui_gauge",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "835c3a4cb202d833",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DAYA",
        "label": "Kw",
        "format": "{{value}}",
        "min": 0,
        "max": "450",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "9eef75c37d568e3c",
        "type": "ui_chart",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "835c3a4cb202d833",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "0,45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7f2d388056b64a5a",
        "type": "mqtt in",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "topic": "esp32/cosphi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65fd9f784ab9da99",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "d8bb57b712098c52",
                "180eece088980f4d",
                "34d5ec401c194601"
            ]
        ]
    },
    {
        "id": "d8bb57b712098c52",
        "type": "debug",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "180eece088980f4d",
        "type": "ui_gauge",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "7ebb42554254c3bf",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "COSH PHI",
        "label": "Watt",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb5e"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "34d5ec401c194601",
        "type": "ui_chart",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "7ebb42554254c3bf",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a52870a37782926c",
        "type": "mqtt in",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "topic": "esp32/volt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65fd9f784ab9da99",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 880,
        "y": 180,
        "wires": [
            [
                "cd31a292ab1e1fae",
                "ce0a697f08adb169",
                "816e3c608d2353d8"
            ]
        ]
    },
    {
        "id": "cd31a292ab1e1fae",
        "type": "debug",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce0a697f08adb169",
        "type": "ui_gauge",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "5eaf31ba278e18f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "Volt",
        "format": "{{value}}",
        "min": 0,
        "max": "230",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1190,
        "y": 180,
        "wires": []
    },
    {
        "id": "816e3c608d2353d8",
        "type": "ui_chart",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "5eaf31ba278e18f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1190,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "43bb27030863eba7",
        "type": "mqtt in",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "topic": "esp32/arus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65fd9f784ab9da99",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 880,
        "y": 340,
        "wires": [
            [
                "4c893e2ce29452d1",
                "b722c1b36273d6fc",
                "e9f5aba611af47d1"
            ]
        ]
    },
    {
        "id": "4c893e2ce29452d1",
        "type": "debug",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "b722c1b36273d6fc",
        "type": "ui_gauge",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "459629b2d8684672",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "Arus",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "e9f5aba611af47d1",
        "type": "ui_chart",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "459629b2d8684672",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1170,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9b6ed15073ca2951",
        "type": "mqtt in",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "topic": "esp32/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65fd9f784ab9da99",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 890,
        "y": 500,
        "wires": [
            [
                "d19b155750f89d17",
                "2e6d1d5b74d2d37e",
                "a1c7343dc598857b"
            ]
        ]
    },
    {
        "id": "d19b155750f89d17",
        "type": "debug",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 460,
        "wires": []
    },
    {
        "id": "2e6d1d5b74d2d37e",
        "type": "ui_gauge",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "5e5845809e700c1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "Kw",
        "format": "{{value}}",
        "min": 0,
        "max": "450",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "a1c7343dc598857b",
        "type": "ui_chart",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "5e5845809e700c1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "0,45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1190,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fb8571b50db4e4de",
        "type": "mqtt in",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "topic": "esp32/cosphi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65fd9f784ab9da99",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 890,
        "y": 660,
        "wires": [
            [
                "bed24e1783d68a6e",
                "0c3a401c8b552706",
                "45e3a99b39e435f7"
            ]
        ]
    },
    {
        "id": "bed24e1783d68a6e",
        "type": "debug",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "0c3a401c8b552706",
        "type": "ui_gauge",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "53981af01252ec43",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "COSH PHI",
        "label": "Watt",
        "format": "{{value}}",
        "min": 0,
        "max": "230",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 680,
        "wires": []
    },
    {
        "id": "45e3a99b39e435f7",
        "type": "ui_chart",
        "z": "e9b1c65e929bb18d",
        "name": "",
        "group": "53981af01252ec43",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1170,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "65fd9f784ab9da99",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "902e0d6c8ef562f0",
        "type": "ui_group",
        "name": "VOLTAGE",
        "tab": "f4fa4cd5590637b1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "68f743e8825abf38",
        "type": "ui_group",
        "name": "ARUS",
        "tab": "f4fa4cd5590637b1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "835c3a4cb202d833",
        "type": "ui_group",
        "name": "POWER",
        "tab": "f4fa4cd5590637b1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ebb42554254c3bf",
        "type": "ui_group",
        "name": "POWER FACTOR",
        "tab": "f4fa4cd5590637b1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5eaf31ba278e18f8",
        "type": "ui_group",
        "name": "VOLTAGE",
        "tab": "486abc8951aa2c80",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "459629b2d8684672",
        "type": "ui_group",
        "name": "ARUS",
        "tab": "486abc8951aa2c80",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5e5845809e700c1f",
        "type": "ui_group",
        "name": "DAYA",
        "tab": "486abc8951aa2c80",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "53981af01252ec43",
        "type": "ui_group",
        "name": "POWER FACTOR",
        "tab": "486abc8951aa2c80",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f4fa4cd5590637b1",
        "type": "ui_tab",
        "name": "ENERGY METER 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "486abc8951aa2c80",
        "type": "ui_tab",
        "name": "ENERGY METER 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]